<%- include("../header");%>
<div class="col-12">
  <%- include("../error");%>

    <form action="/auth/authentication"
     method="post" name="form1">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" id="email"
         aria-describedby="emailHelp" placeholder="Ingrese email" value="">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control"
         id="password" aria-describedby="emailHelp" placeholder="*********" value="">
      </div>
      <input type="submit" class="btn btn-primary" value="Add">
    </form>
</div>
<%- include("../footer");%>
